<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTCPBinding_IService1Client">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://interntestcloudservice.cloudapp.net:5658/Intern" binding="netTcpBinding"
        bindingConfiguration="NetTCPBinding_IService1Client" contract="ServiceReference1.IService1"
        name="NetTCPBinding_IService1Client" />
    </client>
  </system.serviceModel>
</configuration>